<header class="site-header">
  <!-- <a class="logo-text site-title t2 geo" href="{{ site.baseurl }}/">
    {{site.title}}
  </a>-->
  <nav class="site-navigation" id="nav">
    <div class="nav-wrap">
    <a class="logo-text site-title geo" href="{{ site.baseurl }}/">
      {{site.title}}
    </a>
    <div class="menu-wrap">
      <h2 class="screen-reader-text">Main navigation</h2>
      <ul class="menu">
        {% for item in site.navigation %} {% assign current = nil %} {% if
        page.url == item.url %} {% assign current = 'nav-current' %} {% endif %}
        <li class="geo menu-item {{ current }}">
          <a class="{{ current }}" href="{{ site.baseurl }}{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- .menu -->

    <button id="menu-open" class="menu-toggle">
      <span class="screen-reader-text">Open Menu</span
      ><svg viewBox="0 0 22 25">
        <rect width="22" height="5" class="s"></rect>
        <rect y="10" width="22" height="5" class="v"></rect>
        <rect y="20" width="22" height="5" class="g"></rect>
    </svg>
      </span>
    </button>
    <button id="menu-close" class="menu-toggle">
      <span class="screen-reader-text">Close Menu</span
      ><span class="icon-close" aria-hidden="true"></span>
    </button>

    <!-- .site-navigation-wrap -->
  </div>
  </nav>
  <!-- .site-navigation -->
</header>
