@font-face {
font-family: 'Futurama';
font-style: normal;
font-weight: normal;
src: url('fonts/fr-bold.woff');
}

body {
  background-color: #007888;
  color: #ECF0F1;
  font-family: 'Futurama';
  letter-spacing: .05em;
}

.vertical-center {
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  padding-bottom: 5vh;
}

a {
  color: #ECF0F1;
}

a:hover,
a:focus {
  color: #ECF0F1;
  text-decoration: none;
}

.btn-primary {
  color: #ECF0F1;
  background-color: transparent;
  border-color: #ECF0F1;
  height: 48px;
  transition: all 0.5s ease 0s;
  border-width: 2px;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #ECF0F1;
  background-color: transparent;
  border-color: #ECF0F1;
}

.btn-primary:hover {
  color: #ECF0F1;
  background-color: rgba(0, 0, 0, .3);;
  border-color: #ECF0F1;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  outline-offset: none;
}

#getQuote {
  float: left;
  font-size: 1.15em;
}

#twitter {
  float: right;
  font-size: 1.75em;
}

@media screen and (max-width: 549px) {
  #quote {
    font-size: 20px;
  }
  .btn-primary {
    margin: .5em;
  }
  #getQuote, #twitter {
    float: none;
  }
}
